@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
  margin: 0%;
  font-family: 'Karla', sans-serif;
}

.App {
  background-color: #FAFAFA;
  justify-content: center;
  text-align: center;
}

.header{
  text-align: left;
}

.logo {
  width: 100px;
  padding: 10px;
  cursor: pointer;
}

.background{
  background-color: #FFFFFF;

}

.post{
  position: relative;
  max-width: 100%;
  max-height: 55vh;
}

.post-container{
  border: 1px solid lightgray;
  background-color: #F3F3F3;
  padding: 10px;
  max-width: 575px;
  margin: 45px 0;
}

.poster{
  display: flex;
  align-items: center;
}

.footer{
  border-top: 1px solid lightgray;
  margin-top: 5px;
  text-align: left;
}

.upload-container{
  padding: 0;
}

.navbar{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.id{
  margin-left: 5px;
}

@media only screen and (min-width: 900px) {
  .container{
    margin:0 25%
  }
}